body {
    height: 100vh;
    margin: 0;
    background: lightblue;
    overflow-y: hidden;
}

#video {
    margin-top: 5px;
    width: 100%;
    top: -500px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.button a {
    padding: 12px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: dodgerblue;
    color: black;
}

.button a:hover {
    background-color: black;
    color: white;
}

.title h1 {
    font-style: italic;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
}

.haku {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

.haku input {
    margin-right: 6px;
}

#map {
    margin-top: 5px;
    height: 100%;
}

.popup {
    text-align: center;
}

.legend {
}

.top {
    font-size: 2em;
}
