body {
    height: 100vh;
    margin: 0;
}

.video {
    width: 420px;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map {
    height: 100%;
}

.popup {
    text-align: center;
}

.legend {
}

.top {
    font-size: 2em;
}
