body {
    height: 100vh;
    margin: 0;
    background: lightblue;
    overflow-y: hidden;
}

#video {
    width: 100%;

}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.links {
    display: flex;
    justify-content: left;
    margin-top: auto;
    margin-bottom: auto;
}

.button a {
    padding: 12px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: dodgerblue;
    color: black;
}

.button a:hover {
    background-color: black;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
}


.title h1 {
    font-style: italic;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    /*margin-left: 1em;*/

    text-align: center;
    color: whitesmoke;
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 17px;
}

.haku {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

.haku input {
    margin-right: 6px;
}


.popup {
    text-align: center;
}

.legend {
}

.top {
    font-size: 2em;
}