body {
    height: 100vh;
    background: lightblue;
    overflow-y: hidden;
}

#map {
    height: 100%;

}

h1{
    font-style: italic;
    width:300px;
    margin: auto;

}

.video a {
    position: absolute;
    padding: 12px;
    width: 100px;
    top: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: dodgerblue;
    color: black;

}

.about a{
    position: absolute;
    padding: 12px;
    width: 100px;
    top: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: dodgerblue;
    color: black;
}

.about a:hover{
    background-color: black;
    color: white;
}



.video a:hover{
    background-color: black;
    color: white;
}
/*.nav{
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}

.nav a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 100px; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc..
    text-align:center;  If you want the text to be centered
    background-color: bisque;
    font-family: Georgia;



}

/* Add a background color on mouse-over
.nav a:hover {
    background-color: white;
}
.nav a.active {
    background-color: #4CAF50;
}
